<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
</head>

<body>
<div th:fragment="content" class="main container">
    <form th:method="POST" th:action="@{/courses}" th:object="${course}" autocomplete="off">
        <div class="mb-3">
            <label for="course-name" class="form-label">Название курса</label>
            <input type="text" th:field="*{name}" id="course-name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="course-description" class="form-label">Описание курса</label>
            <textarea th:field="*{description}" class="form-control" id="course-description" rows="3"></textarea>
            <div class="form-text">Кратное описание того, о чем будет этот курс</div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>